body {
    font-family: Ubuntu, sans-serif, Arial, serif;
    font-size: 16px;

    min-width: 300px;
    max-width: 768px;
    margin: 0 auto;
}

/*  IMAGES  */
.img-texture,
li > blockquote {
    background-image: url('../img/texture.jpg');
}

.img-knight {
    background-image: url('../img/knight.png');
}

.img-ribbon {
    background-image: url('../img/ribbon.png');
}

.img-divider {
    background-image: url('../img/divider.png');
}
/*  ******  */

/*  PAGE STARTUP  */
.loading {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.loading > i
{
    display: block;

    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center center;
}

.pulse {
    -webkit-animation: flickerAnimation 1.7s ease-out 0 infinite;
       -moz-animation: flickerAnimation 1.7s ease-out 0 infinite;
         -o-animation: flickerAnimation 1.7s ease-out 0 infinite;
            animation: flickerAnimation 1.7s ease-out 0 infinite;
}

@keyframes flickerAnimation {
  0%   { opacity:0.0; }
  50%  { opacity:0.8; }
  100% { opacity:0.0; }
}

@-o-keyframes flickerAnimation{
  0%   { opacity:0.0; }
  50%  { opacity:0.8; }
  100% { opacity:0.0; }
}

@-moz-keyframes flickerAnimation{
  0%   { opacity:0.0; }
  50%  { opacity:0.8; }
  100% { opacity:0.0; }
}

@-webkit-keyframes flickerAnimation{
  0%   { opacity:0.0; }
  50%  { opacity:0.8; }
  100% { opacity:0.0; }
}
/*  **** *******  */


/*  HEADER  */
header {
    position: relative;

    padding: 60px 20px; /* horizontal margin 20px for article */

    text-align: right;
}

h1 {
    font-family: Dosis, sans-serif, Arial, serif;
    font-weight: 400;

    position: relative;

    display: block;

    max-width: 800px;

    cursor: default;
    -webkit-transform: rotate(-1deg);
       -moz-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
         -o-transform: rotate(-1deg);
            transform: rotate(-1deg);

    color: #3a1212;
    text-shadow: #c4c4c4 -2px 2px 3px;
}

h1 em,
h1 abbr {
    font-family: Smythe, cursive, Arial, serif;
    font-weight: 400;

    color: #fff;
    text-shadow: #141414 -1px 1px 2px;
    text-decoration: none;
}

h1 em {
    text-transform: uppercase;
}

h1 abbr {
    cursor: help;
}

h1 abbr:before {
    content:"\a";
    white-space: pre;
}

/* h1 abbr */ .tooltip {
    font-family: Ubuntu, sans-serif, Arial, serif;
    font-size: 120%;

    position: absolute;

    display: none;

    padding: 10px;

    color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #3a1212;
}

h1 sup {
    font-family: Dosis, sans-serif, Arial, serif;
    font-size: 70%;

    vertical-align: top;

    color: red;
}

.ribbon {
    position: absolute;
    bottom: 45px;

    display: block;

    width: 300px;
    height: 150px;

    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
}

header a.show-all {
    font-family: Ubuntu;
    font-size: 12px;
    line-height: 24px;

    position: absolute;
    right: 0;

    display: inline-block;

    height: 24px;
    margin-top: 8px;
    margin-right: 20px;
    padding: 0 8px;

    cursor: pointer;
    text-decoration: none;

    color: #f3d7d7;
    border-radius: 2px;
    background-color: #3a1212;
    text-shadow: #000 1px 1px 1px;
}

header a.show-all:hover {
    color: #fff;
}
/*  ******  */



/*  QUOTES APPEARANCE  */
div.article {
    max-width: 800px;
}

/*  DIVIDERS  */
ul.quotes > li {
    display: block;

    list-style-type: none;
}
ul.quotes > li:after,
ul.quotes > li:first-child:before,
ul.quotes > li.anchored:before {
    display: block;

    padding-bottom: 20px;
    margin: 65px 0;

    content: '';

    opacity: .35;

    background-image: url('../img/divider.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}
/*  ********  */

/*  QUOTE BOX  */
li > blockquote {
    font-size: 16px;
    line-height: 23px;

    position: relative;

    padding: 12px 34px;

    text-align: justify;

    color: #3a1221;
    text-shadow: -1px 1px 1px #fff;
}

li > blockquote:before,
li > blockquote:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 5px;
    bottom: 0;
    left: 5px;

    content: '';

    -moz-border-radius: 100px / 3px;
         border-radius: 100px / 3px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
       -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
            box-shadow: 0 0 4px rgba(0,0,0,.2);
}

li > blockquote a.lnk {
    font-family: Ubuntu;
    font-size: 28px;
    line-height: 32px;

    position: absolute;
    right: 45px;
    top: -25px;

    display: block;

    width: 38px;
    height: 25px;

    text-align: center;
    text-decoration: none;

    opacity: .1;
    color: #FFF;
    background-color: #3a1212;
    text-shadow: none;

    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

li > blockquote a.lnk:hover,
li > blockquote:hover a.lnk {
    opacity: 1.0;
}
/*  ***** ***  */
/*  ****** **********  */


/*  QUOTE ELEMENTS STYLE  */
li > blockquote p a,
li > blockquote footer a {
    margin-bottom: 2px;
    padding-bottom: 1px;

    text-decoration: none;

    color: #3a1221;
    border-bottom: 1px dotted #8f8f8f;
}
li > blockquote p a:hover,
li > blockquote footer a:hover {
    border-bottom: 1px solid #3a1221;
}
li > blockquote a.ico {
    padding-left: 20px;

    background-repeat: no-repeat;
}
li > blockquote footer {
    margin: 0;
    margin-top: 23px;
}
/*  ***** ******** *****  */

/*  FOOTER  */
body > footer {
    display: table;

    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;
    margin: 5px 0 25px 0;

    table-layout: fixed;
    border-collapse: collapse;
}
body > footer div.about {
    display: table-caption;
}
body > footer div.social {
    display: table-row;
}

body > footer div.about p {
    color: #6e5e52;
    font-size: 12px;
    text-align: center;
    margin: 0 50px 35px 50px;
}

body > footer div.about p sup {
    font-family: Dosis, sans-serif, Arial, serif;
    font-size: 170%;

    vertical-align: middle;

    color: red;
}
body > footer div.about p em {
    color: #3a1212;
}

body > footer div.social > div {
    display: table-cell;

    vertical-align: middle;
}

body > footer div.github {
    text-align: left;
}
body > footer div.twitter {
    text-align: right;
}

.knight {
    width: 50px;
    height: 50px;

    padding: 0 30px;

    -webkit-transition: all .5s ease-out;
       -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
         -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
    -webkit-transform-origin: 90% 110%;
       -moz-transform-origin: 90% 110%;
        -ms-transform-origin: 90% 110%;
         -o-transform-origin: 90% 110%;
            transform-origin: 90% 110%;

    background-position: 50% 50%;

    background-repeat: no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
}
.knight:hover {
    -webkit-transform: rotate(11deg);
       -moz-transform: rotate(11deg);
        -ms-transform: rotate(11deg);
         -o-transform: rotate(11deg);
            transform: rotate(11deg);
}
/*  ******  */

@media screen and (min-width: 500px) {
    div.article {
        margin: 20px;
    }
}
@media screen and (max-width: 600px) {
    header {
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .ribbon {
        bottom: 5px;
    }
}
@media screen and (max-width: 380px) {
    header .ribbon {
        display: none;
    }
    header {
        padding-bottom: 0;
        margin-bottom: -20px;
    }
}
